{% extends "portal/base.html" %}
{% block title %}Admin Dashboard - SunSet Apartment{% endblock %}

{% block content %}
<div class="card shadow bg-dark">
  <div class="card-header bg-dark text-white">
    <p class="fs-3">Welcome, {{ request.user.username }}</p>
  </div>
    <div class="card-body">
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card border-secondary text-center bg-secondary mb-3">
          <div class="card-body">
            <h5 class="card-title">Total Tenants</h5>
            <p class="card-text display-4">{{ total_tenants }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info text-center mb-3">
          <div class="card-body">
            <h5 class="card-title">Total Apartments</h5>
            <p class="card-text display-4">{{ total_apartments }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-warning text-center mb-3">
          <div class="card-body">
            <h5 class="card-title">Pending Invoices</h5>
            <p class="card-text display-4">{{ pending_invoices.count }}</p>
          </div>
        </div>
      </div>
    </div>
    <h4>Recent Invoices</h4>
    <ul class="list-group mb-4">
      {% for invoice in recent_invoices %}
      <li class="list-group-item">
        {{ invoice.tenant }} &mdash; {{ invoice.apartment.name }} {% if invoice.bedsitter %}, Bedsitter {{ invoice.bedsitter }}{% endif %} &mdash;
        <span class="badge {% if not invoice.is_paid %}bg-warning text-dark{% else %}bg-success{% endif %}">
          {% if not invoice.is_paid %}Unpaid{% else %}Paid{% endif %}
        </span>
      </li>
      {% empty %}
      <li class="list-group-item">No recent invoices.</li>
      {% endfor %}
    </ul>
    <h4>Recent Payments</h4>
      <ul class="list-group mb-4">
        {% for payment in recent_payments %}
          <li class="list-group-item">
            {{ payment.tenant }} paid KES {{ payment.amount|floatformat:0 }} -- {{ payment.invoice.description }} on {{ payment.date|date:"Y-m-d" }}
          </li>
        {% empty %}
          <li class="list-group-item">No recent payments.</li>
        {% endfor %}
      </ul>
    <div>
      <a href="{% url 'add_tenant' %}" class="btn btn-success">+ Add New Tenant</a>
      <a href="{% url 'add_user' %}" class="btn btn-primary">+ Add User</a>
      <a href="{% url 'add_invoice' %}" class="btn btn-warning">+ Create Invoice</a>
      <a href="{% url 'add_apartment' %}" class="btn btn-info">+ Add Apartment</a>
      <a href="{% url 'add_bedsitter' %}" class="btn btn-success">+ Add New Bedsitter</a>
    </div>
  </div>
</div>
{% endblock %}