{% extends "portal/base.html" %}
{% block content %}
<div class="card shadow bg-dark">
  <div class="card-header bg-dark text-white">
    <p class="fs-3">Welcome, {{ request.user.username }}</p>
  </div>
  <ul>
    {% for apt in apartments %}
      <li >
        <a href="{% url 'tenantprofiles_by_apartment' apt.id %}" 
        style="color: white; text-decoration: none;" 
        onmouseover="this.style.color='red'" 
        onmouseout="this.style.color='white'">
        {{ apt.name }} ({{ apt.address }})
      </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}