{% extends "portal/base.html" %}
{% block content %}
<div class="card shadow bg-dark">
  <div>
    <a href="{% url 'add_apartment' %}" class="btn btn-success"><i class="fa-solid fa-plus fa-lg"></i> Add Apartment</a>
  </div>
  <ul>
    {% for apt in apartments %}
      <li >
        <a href="{% url 'tenantprofiles_by_apartment' apt.id %}" 
        style="color: white; text-decoration: none;" 
        onmouseover="this.style.color='red'" 
        onmouseout="this.style.color='white'">
        {{ apt.name }} ({{ apt.address }})
      </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}