{% extends "portal/base.html" %} 

{% block content %}
<div class="card shadow bg-dark">
  <div class="card-body">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th><span class="badge bg-primary">Tenant</span></th>
          <th><span class="badge bg-primary">Amount</span></th>
          <th><span class="badge bg-primary">Description</span></th>
          <th><span class="badge bg-primary">Apartment</span></th>
          <th><span class="badge bg-primary">Is Paid?</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.tenant }}</td>
          <td>{{ invoice.amount }}</td>
          <td>{{ invoice.description }}</td>
          <td>{{ invoice.apartment }}</td>
          <td>
            {% if invoice.is_paid %}
            <span style="color: green">Yes</span>
            {% else %}
            <span style="color: red">No</span>
            {% endif %}
          </td>
          <td>{{ invoice.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No invoices found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
