{% extends "portal/base_tenant.html" %}
{% block title %}Tenant Dashboard{% endblock %}
{% block content %}
<div class="container card bg-dark p-4">
    <div class="card bg-info text-white">
        <h3>Welcome, {{ tenant_profile.user.get_full_name|default:tenant_profile.user.username }}</h3>
    </div>
    <div class="card text-bg-info">
        <table class="table table-hover table-dark">
            <tbody class="text-bg-dark">
            <h2 class="fs-3 text-bg-dark p-2">Basic Information</h2>
                <tr>
                    <th scope="row">Bedsitter</th>
                    <td>{{ tenant_profile.bedsitter.number }}</td>
                </tr>
                <tr>
                    <th scope="row">Apartment</th>
                    <td>{{ tenant_profile.bedsitter.apartment.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Phone</th>
                    <td>{{ tenant_profile.phone }}</td>
                </tr>
            </tbody>
        </table>
        <div class="card-body">
            <h4>Your Invoices</h4>
            <ul class="list-group mb-4">
                {% for invoice in invoices %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ invoice.description }} - {{ invoice.amount }} KES
                        <span class="badge {% if invoice.is_paid %}bg-success{% else %}bg-warning text-dark{% endif %}">
                            {% if invoice.is_paid %}Paid{% else %}Unpaid{% endif %}
                        </span>
                    </li>
                {% empty %}
                    <li class="list-group-item">No invoices found.</li>
                {% endfor %}
            </ul>
            <h4>Your Payments</h4>
            <ul class="list-group mb-4">
                {% for payment in payments %}
                    <li class="list-group-item">
                        Paid {{ payment.amount }} KES {{ payment.invoice.description }} on {{ payment.date|date:"Y-m-d" }}
                    </li>
                {% empty %}
                    <li class="list-group-item">No payments found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}